<!-- Footer 1 -->
<footer class="template-footer1">

	<div class="container">
		<h1>{{widget('content', 'footer1content', {content: 'Lorem Ipsum Dolor Sit Amet', lines: 'all'})|raw}}</h1>
		<span>{{widget('content', 'pagedescription', {content: 'Excepteur span element sint occaecat cupidatat non proident.', lines: 'all'})|raw}}
        </span>
        <div class="widget-profile-footer">
            {{widget('profile', 'footerprofilesocialicons', { 'profileType':'socialicons', 'socialicons':'profile'})|raw}}
        </div>
	</div>

</footer>
<!-- End Footer 1 -->

<!-- Footer 2-->
<footer class="template-footer2 clearfix">
	<div class="left">
		<h4>{{widget('content', 'footer2content', {content: 'Lorem Ipsum', lines: 'all'})|raw}}</h4>
	</div>
	<div class="right">
       	{{widget('profile', 'footerprofilecopyright', { 'profileType':'copyright', 'copyright':'profile'})|raw}}
       </div>
</footer>
<!-- End Footer 2-->
